@font-face {
    font-family: 'simplifica';
    src: url('../fonts/simplifica_typeface-webfont.woff2') format('woff2'),
         url('../fonts/simplifica_typeface-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	color: #3c4b59;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-size: 14px;
	font-family: comfortaa;
}


.header {
	text-align: center;
	color: #3c4b59;
	padding: 1rem 1rem 0.5rem;
}

.title {
	font-size: 5rem;
	font-family: simplifica;
}

.menu {
    list-style:none;
    margin:0;
    padding:10px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    max-width: 500px;

}

.menu a {
    display: inline-block;
    padding:1rem 0.5rem;
    text-decoration: none;
    font-size: 1.4rem;
}

.menu a:visited {
    color: #3c4b59;

}

.pic {
	height: 80vh;
	background: url(../images/heroimg.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
}

.mask {
	display: none;
	background-color: rgba(255,255,255,0.5);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 80px;
}

.close-gallery {
	position: fixed;
	top: 40px;
	right: 40px;
}

.swiper-container {
	visibility: hidden;
      width: 100%;
      height: 100%;
    }

.swiper-slide {
	text-align: center;
}

.swiper-slide img {
	max-height: 100%;
	width: auto;
}

.visible {
	visibility: visible;
	display: block;
}

.text-box {
	max-width: 30vw;
	max-height: 22vh;
	background: #fff;
	padding: 20px 20px;
	font-size: 1.6rem;
	color: #3c4b59;
	/*
	Styles to center a block within a position relative parent block
	*/
	position: absolute;
	align-items: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.background {
	background-color: #eeeaea;
	position: relative;
}

.row {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	justify-content: space-evenly;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding: 10px 40px;
}


.column {
	margin: 30px;
	position: relative;
	height: auto;
	width: 600px;
}

.year-title {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 2.5rem;
	color: #3c4b59;
	padding: 40px;
	font-family: comfortaa;
}

.mod-page1 {
	background-color: #e9e7e2;
	position: relative;
}

.col {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	justify-content: space-evenly;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding: 10px 40px;
}

.mod1 {
	border: none;
 	color: #3c4b59;
    padding: 15px 20px;
 	text-align: center;
 	text-decoration: none;
 	display: inline-block;
  	font-size: 1.8rem;
  	margin: 4px 2px;
  	font-family: comfortaa;
}

.mod2 {
	border: none;
 	color: #3c4b59;
    padding: 15px 20px;
 	text-align: center;
 	text-decoration: none;
 	display: inline-block;
  	font-size: 1.8rem;
  	margin: 4px 2px;
  	font-family: comfortaa;
}

.mod3 {
	border: none;
 	color: #3c4b59;
    padding: 15px 20px;
 	text-align: center;
 	text-decoration: none;
 	display: inline-block;
  	font-size: 1.8rem;
  	margin: 4px 2px;
  	font-family: comfortaa;
}

.year1 {
	border: none;
 	color: #3c4b59;
    padding: 15px 20px;
 	text-align: center;
 	text-decoration: none;
 	display: inline-block;
  	font-size: 2.5rem;
  	margin: 4px 2px;
  	font-family: comfortaa;
}

.year2 {
	border: none;
 	color: #3c4b59;
    padding: 15px 20px;
 	text-align: center;
 	text-decoration: none;
 	display: inline-block;
  	font-size: 2.5rem;
  	margin: 4px 2px;
  	font-family: comfortaa;
}

.year3 {
	border: none;
 	color: #3c4b59;
    padding: 15px 20px;
 	text-align: center;
 	text-decoration: none;
 	display: inline-block;
  	font-size: 2.5rem;
  	margin: 4px 2px;
  	font-family: comfortaa;
 }

.cards {
	margin: 0 auto;
	max-width: 1000px;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 40px;
}

.wrap {
	padding: 20px 10px 20px 10px;
}

@media (min-width: 480px) {
	.cards {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (min-width: 768px) {
	.cards {
		grid-template-columns: repeat(3, 1fr);
	}
}

.card {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}

.card_image {
	width: 100%;
	display: block;
}

.card_content {
	text-align: center;
	line-height: 1.5;
	padding: 16px;
	background-color: #fafafa;
}

.card_footer {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid #ccc;
	line-height: 1.5;
	padding: 5px;
}


.card_link {
	text-decoration: none;
	padding: 10px;
	justify-content: space-between;
}

.card_link:hover {
	text-decoration: underline;
}

.notes {
  display: block;
  border: none;
  background-color: #ccc;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin: auto;
  text-decoration: none;
}



.backbut {
  display: block;
  border: none;
  background-color: #ccc;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin: auto;
  text-decoration: none;
}

.backbutwrap {
  padding: 14px 0px 14px 0px;
}
