html {
  font-size: 16px;
  text-rendering: optimizeLegibility;
}

html * {
  box-sizing: border-box;
}

body {
  font-family: $font-family-sans-serif;
  background-color: $light;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.25;
}

h1,
h2 {
  font-family: $font-family-heading;
}

h1 {
  font-size: $size-1;
}

h2 {
  font-size: $size-2;
}

h3 {
  font-family: $font-family-sans-serif;
  font-size: $size-3;
}

p {
  margin-bottom: calc($gap / 2);
}

img {
  max-width: 100%;
  height: auto;
}

.main {
  margin-top: calc(2 * $gap + 40px);
}

.container {
  margin: 0 auto;
  @media screen and (min-width: $widescreen) {
    max-width: $widescreen;
  }
}

.columns {
  display: flex;
  @media screen and (min-width: $widescreen) {
    margin-left: calc($gap / -2);
    margin-right: calc($gap / -2);
  }

  .column {
    @media screen and (min-width: $widescreen) {
      padding-left: calc($gap / 2);
      padding-right: calc($gap / 2);
    }
  }
}

.content {
  padding-left: calc($gap / 2);
  padding-right: calc($gap / 2);
}

/**
 * Pages
 */

/**
  *  Home page
  */
.home-page {
  height: 100vh;
  background-image: url('~assets/images/home-bg.jpg');
  background-size: cover;
  background-position: center;

  .home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
}

.hero {
  max-width: 30rem;
  padding: $gap;

  p {
    font-weight: lighter;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  p:first-child {
    font-size: $size-2;
    font-family: $font-family-heading;
    letter-spacing: -1px;
    margin-bottom: $gap;

    @media screen and (min-width: $desktop) {
      font-size: 4rem;
    }
  }

  p:last-child {
    font-size: $size-4;
    font-family: $font-family-serif;

    @media screen and (min-width: $desktop) {
      font-size: $size-3;
    }
  }
}

/**
 * About page
 */

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .content {
    background: url('~assets/images/info.png') 50% 0 no-repeat;
    background-size: 80%;
    padding-top: 10rem;

    @media screen and (min-width: $tablet) {
      max-width: 30rem;
      padding-top: calc($gap / 2);
      padding-left: 10vw;
      background-position: 0 50%;
      background-size: 20vw;
    }
  }
}
