html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-container {
  height: 100vh;
}

.image {
  max-width: 100vw;
}

.page-wrap1 {
  position: relative;
  width: 100%;
  padding-top: 148%;
}

.page-wrap2 {
  position: relative;
  width: 100%;
  padding-top: 125%;
}

.wrap {
  position: relative;
  width: 100%;
  padding-top: 45%;
}
.page-wrap5 {
  position: relative;
  width: 100%;
  padding-top: 179%;
}

.page-wrap6 {
  position: relative;
  width: 100%;
  padding-top: 47%;
}

.bg-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.page-copy {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 65% 14px 20px;
}

.container {
  justify-self: end;
}
.textboxes {
  display: flex;
  justify-content: space-around;
}

#content {
  padding: 20px 30px;
  text-align: center;
  font-family: roboto;
  font-size: 1.25rem;
  line-height: 115%;
}

#content5 {
  padding: 20px 30px;
  text-align: center;
  font-family: roboto;
  font-size: 1.3rem;
  line-height: 115%;
}

.textbox1 {
  max-width: 65vw;
  background: #fff;
  opacity: 0.75;
  font-size: 1.6rem;
  color: #191818;
  margin: auto;
}

.textbox7 {
  max-width: 65vw;
  height: 1200;
  background: #fff;
  opacity: 0.75;
  padding-top: 10px;
  font-size: 1.6rem;
  color: #191818;
  border: 4px solid #ae0405;
  box-sizing: border-box;
  margin: auto;
}

.textbox {
  max-width: 65vw;
  height: 500;
  background: #fff;
  opacity: 0.75;
  padding-top: 10px;
  font-size: 1.6rem;
  color: #191818;
  border: 4px solid #ae0405;
  box-sizing: border-box;
  margin: auto;
}

.textbox2a {
  max-width: 30vw;
  height: 450;
  background: #fff;
  opacity: 0.75;
  padding: 10px 20px 10px 20px;
  font-size: 1.25rem;
  color: #191818;
  border: 4px solid #ae0405;
  box-sizing: border-box;
  font-family: roboto;
  line-height: 115%;
}

.textbox2b {
  max-width: 30vw;
  height: 450;
  background: #fff;
  opacity: 0.75;
  padding: 10px 20px 10px 20px;
  font-size: 1.25rem;
  color: #191818;
  border: 4px solid #ae0405;
  box-sizing: border-box;
  font-family: roboto;
  line-height: 115%;
}

h1 {
  font-family: lucien;
  font-size: 3.5rem;
  display: flex;
  justify-content: space-around;
  padding-bottom: 25px;
  padding-top: 20px;
}

@font-face {
  font-family: 'lucien';
  src: url('../fonts/LucienSchoenschriftvCAT.woff2') format('woff2'),
    url('../fonts/LucienSchoenschriftvCAT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.but {
  box-sizing: border-box;
  height: 7vw;
  width: 7vw;
  border-style: solid;
  border-color: #ae0405;
  border-width: 0px 7px 7px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
  display: block;
  padding: 14px 28px;
  cursor: pointer;
  margin: auto;
}

.container {
  padding: 14px 0px 30px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#v0 {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}

#set-height {
  display: block;
}

.vid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
