
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	color: #252424;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: lato;
  background-color: #F1EDED;
}

.ab-para  {
  font-family: lato;
  font-size: 1.1rem;
  line-height: 125%;
  padding: 5px 0;
}

/*.navbar {
  height: 5vh;
}*/

.navbar {
  width: 450px;
  height: 100%;
  background-color: #F1EDED; 
  position: fixed;
  top: 0;
  right: -450px;
  z-index: 200; 
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40% 0 0 90%;
  transition: .8s;
}

.change {
  right: 0;
  transition: .8s;
  background-color: rgba(241, 237, 237, 0.55);
}

.container {
  width: 100%;
  height: 100vh:
}

.hamburger-menu {
  width: 45px;
  height: 40px;
  position: fixed;
  top: 15px;
  right: 120px; 
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.line {
  width: 100%;
  height: 4px;
  background-color: #85B0B0;
  transition: all .8s;
}

.change .line-1 {
  transform: rotateZ(-405deg) translate(-10px, 8px);
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  transform: rotateZ(405deg) translate(-10px, -8px);
}

.nav-list {
  text-align: center;
}

.nav-item {
  margin: 100px;

}

.nav-link {
  font-family: lato;
  font-size: 2.8rem;
}


.header {
  width: 100vw;
  height: 8vh;
  background-color: #F1EDED;
}


p1 {
  font-size: 3rem;
  font-family: 'Bodoni Moda', serif;
  font-weight: lighter;
  letter-spacing: -.8px;
  position: absolute; 
  padding: 3px 30px 3px 0px;
  left: 30px;
}

.text-box {
	max-width: 40vw;
	max-height: 22vh;
	padding: 20px 20px;
	/*
	Styles to center a block within a position relative parent block
	*/
	position: absolute;
	align-items: center;
	top: 0;
	bottom: 30vh;
	left: 0;
	right: 0;
	margin: auto;
}

p2 {
  font-size: 4.5rem;
  font-family: 'Bodoni Moda', serif;
  font-weight: lighter;
  letter-spacing: -1px;
  text-align: center;
  display: flex;
  justify-content: center;
}

p3 {
  font-size: 1.8rem;
  font-family: georgia;
  font-weight: lighter;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.i {  
  color: #85B0B0;
  position: relative;
}

.i:before {
  content: "ı";
  position: absolute; 
  color: #252424;
}

.pic {
	height: 100vh;
	background: url(../images/heroimg.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
}

@media (max-width: 2880px){
  p1 {
    font-size: 2.5rem;
  }
  p2 {
    font-size: 4.2rem;
  }
  p3 {
    font-size: 1.8rem;
  }
  .nav-link {
    font-size: 2.2rem;
  }
}

h3 {
  font-family: lato, bold;
  font-size: 2.4rem;
}
/*
.container2 {
  max-width: 2900px;
  width: 100vw;
  margin: 10vh auto;
  padding: 40px;
  /*background: red;
}

.about-info {
  padding: 0 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}

.about .about-img img {
  height: 400px;
}

.about .about-info {
  flex: 0 0 60%;
  max-width: 60vw;
}

.about .about-img {
  flex: 0 0 40%;
  max-width: 40vw;
  /*background: red;
  text-align: center;
  position: relative;
}

.about {
  min-height: 100vh;
  display: flex;
}

*/

.about-section {
  width: 100%
  padding: 80px 0;

}

.img-info {
  flex: 0 0 40%;
  max-width: 28vw;
  text-align: center;
  position: relative;
  padding-right: 3vw;
}

.about-info {
  padding-left: 5vw;
}

.container2 {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10% 0%;
}




.main {
	justify-content: center;
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 20px;

}

@media (min-width: 480px) {
	.main {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (min-width: 768px) {
	.main {
		grid-template-columns: repeat(3, 1fr);
	}
}

li {
	display: list-item;
}