html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-container {
  height: 100vh;
}

.image {

  max-width: 100vw;
}


#content {
  padding: 100px 30px;
}


.textbox {

    max-width: 65vw;
    max-height: 50vh;
    background: #fff;
    opacity: 0.75;
    padding: 20px;
    font-size: 1.6rem;
    color: #3c4b59;
    position: absolute;
    align-items: center;
    top: 0;
    bottom: -2000;
    left: 0;
    right: 0;
    margin: auto;
    border: 4px solid #ae0405;
    box-sizing: border-box;
}

@font-face {
    font-family:'lucien';
    src: url('LucienSchoenschriftvCAT.woff2') format('woff2'),
        url('LucienSchoenschriftvCAT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.but {
  box-sizing: border-box;
  height: 7vw;
  width: 7vw;
  border-style: solid;
  border-color: #ae0405;
  border-width: 0px 7px 7px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
  display: block;
  padding: 14px 28px;
  cursor: pointer;
  margin: auto;
}

.container {
  padding: 14px 0px 14px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

