@font-face {
    font-family: 'Minion Pro';
    src: url('./fonts/MinionPro-Regular.woff') format('woff2'),
         url('./fonts/MinionPro-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

section {
	max-width: 50%
	margin: auto;
	text-align: center;
}

.wrapper {
	height: 100vh;
	display: flex;
	align-items: center;
	color: #FFF;
}

.video-wrap{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.video-wrap video {
	min-width: 100%;
	min-height: 100%;
}

.overlay {
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #FFF;
	position: absolute;
	opacity: .1;
}

.butwrap {
	z-index: 2;
	width: 100vw;
}


.homebut {
	color: #FFF;
	background: transparent;
	position: relative;
	top: 270px;
	text-decoration: none;
    display: inline-block;
    padding: 10px 22px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    border: 3px solid #03827f;
    font-family: MinionPro-Regular;

}

.titlewrap {
	z-index: 2;
	width: 100vw;
	position: absolute;
}

.title1 {
	color: #FFF;
	background: transparent;
	position: relative;
	bottom: 300px;
	text-decoration: none;
    display: inline-block;
    padding: 10px 22px;
    font-size: 4.5rem;
    cursor: pointer;
    text-align: center;
    border: none;
    font-family: MinionPro-Regular;
    font-weight: normal;
}

